body {
    background-color: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

form {
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    box-sizing: border-box;
}

p {
    font-size: 24px;
    text-align: center;
    margin: 0 0 20px;
    color: #555;
    font-weight: bold;
}

div.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #1f1313;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #a226e9;
    outline: none;
    box-shadow: 0 0 4px rgba(40, 38, 41, 0.252);
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #cc75ff, #650a77);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #650a77, #cc75ff);
}

.error-message {
    font-size: 12px;
    color: mediumvioletred;
    margin-top: 5px;
    display: none;
}

/* Responsive Design */
@media (max-width: 500px) {
    form {
        padding: 20px;
    }

    input[type="text"], input[type="password"] {
        font-size: 12px;
    }

    input[type="submit"] {
        font-size: 14px;
    }
}
